@font-face {
    font-family: Calluna;
    src: url(CallunaSansRegular.otf) format("woff")
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    -webkit-perspective: 100em;
    perspective: 100em;
    font-family: Calluna, Arial, sans-serif;
    transition: all .3s ease;
    background-color: #f5f5f5;
    position: relative;
    margin: 0
}

.container {
    margin: 0 auto;
    max-width: 80em;
    text-align: center;
    height: 100%;
    padding: 0 .5em;
}

.species {
    position: relative;
    min-height: 100%;
    padding-bottom: 4em;
    padding-top: 4rem;
}

footer {
    display: flex;
    align-self: center;
    margin-top: -4em;
    min-height: 4em;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}

li a,
li a:after,
li a:before {
    transition: all .3s ease;
    display: block
}

ul {
    list-style-type: none;
    padding: 0
}

li {
    display: inline-block
}

a {
    color: #000;
    text-decoration: none
}

a:hover {
    color: #c33
}

li a {
    font-size: 1.3em;
    text-align: center;
    padding: 1em 1em;
}

li a:hover {
    transform: rotate(5deg) scale(1.1)
}

li a:hover:after,
li a:hover:before {
    opacity: 1;
    width: 20px
}

li a:after,
li a:before {
    opacity: 0;
    border-top: 1px solid #c33;
    content: '';
    position: relative;
    z-index: -1;
    margin: auto;
    width: 0
}

li a:before {
    top: 0;
    transform: rotate(120deg) translateY(-50%) translateX(-50%)
}

li a:after {
    top: 5px;
    transform: rotate(-60deg) translateY(-50%) translateX(-50%)
}

@-webkit-keyframes circle {
    0% {
        stroke-dashoffset: 83
    }
    100% {
        stroke-dashoffset: 0
    }
}

@-webkit-keyframes text {
    100% {
        opacity: 1
    }
}

@-webkit-keyframes spread {
    0% {
        opacity: 0;
        cx: 126
    }
}

.circle {
    stroke: #666;
    stroke-width: 1;
    transform: translate(0 49.5);
    stroke-dasharray: 83.5;
    stroke-dashoffset: 83.5;
    -webkit-animation: circle 1.5s ease-in-out forwards
}

text {
    opacity: 0;
    -webkit-transition-delay: 1.5s;
    -webkit-animation: text 2s ease-in-out forwards
}

.spread {
    opacity: 1;
    -webkit-animation: spread .4s ease-in-out forwards
}

@-webkit-keyframes flash {
    from {
        opacity: .7
    }
    to {
        opacity: .9
    }
}

@-webkit-keyframes show {
    to {
        opacity: .8
    }
}

.show {
    fill: #53646d;
    opacity: 0;
    -webkit-animation: show .3s linear;
    -webkit-animation-fill-mode: forwards
}

.world-outline {
    fill: #f5f5f5;
    opacity: .5
}

.back-country,
.country {
    fill: #53646d;
    stroke: #fff;
    -webkit-animation: flash 1.8s ease infinite alternate;
    stroke-width: 0;
    stroke-linejoin: round
}

@-webkit-keyframes fadey {
    0%,
    100% {
        opacity: 0
    }
    15%,
    85% {
        opacity: 1
    }
}

#globe {
    position: fixed;
    left: 0;
    top: 420px;
    width: 100%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    z-index: -1;
}

svg {
    max-width: 100%;
    /*height: auto*/
    max-height: 100%;
}

@media (max-width: 720px) {
    .container {
        font-size: 60%;
    }
    svg {
        max-width: 70%;
    }
    li a {
        font-size: 1.2em;
        text-align: center;
        padding: 0.2em 1em;
    }
}

[v-cloak] {
    display: none;
}

.specie__image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

.EX, .EW, .CR, .EN, .VU, .NT, .LC, .DD, .NE, .NT{
    width: 2rem;
    height: 2rem;
    position: absolute;
    font-size: .8rem;
    font-weight: 700;
    right: -0.2rem;
    top: 0rem;
    border-radius: 50%;
    line-height: 2rem;
    cursor: pointer;
}

.LC {
    background: #066;
    color: #fff
}

.NE {
    background: #eee;
    color: #000
}

.EN {
    background: #c63;
    color: #fc9
}

.EW {
    background: #000;
    color: #fff
}

.EX {
    background: #000;
    color: #c33
}

.NT {
    background: #066;
    color: #9c9
}

.VU {
    background: #c90;
    color: #ffc
}

.DD {
    background: #fff;
    color: #000;
    border: 1px solid #000
}

.CR {
    background: #c33;
    color: #fcc
}

.specie__info {
    max-width: 150px;
    height: 150px;
    text-align: center;
}

.specie {
    position: relative;
    width: 14.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 6px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 10% 50%;
    transform-origin: 10% 50%;
    z-index: 1;
}

.fadeTitle {
    opacity: 0;
    -webkit-animation: fade .5s linear forwards;
}

@-webkit-keyframes fade {
    to {
        opacity: 1
    }
}

.slide-fade-enter-active {
    transition: all 1.2s ease-out 2.8s;
}

.slide-fade-leave-active {
    transition: all .3s ease-out;
}

.slide-fade-enter
    /* .slide-fade-leave-active for below version 2.1.8 */
{
    transform: translateY(-230px);
    opacity: 0.3;
}

.slide-fade-leave-to {
    transform: translateY(30%);
    opacity: 0;
}

.img-enter-active {
    opacity: 1;
    transition: all .2s ease-out;
}

.img-enter {
    transform: translateX(-100px);
    opacity: 0;
}

.img-leave-active {
    transition: all .2s ease-out;
}

.img-leave-to {
    transform: translateX(100px);
    opacity: 0;
}

.status-enter-active {
    opacity: 1;
    transition: all .2s ease-out;
}

.status-enter {
    transform: translateY(-200px);
    opacity: 0;
}

.status-leave-active {
    transition: all .2s ease-out;
}

.status-leave-to {
    transform: translateY(-200px);
    opacity: 0;
}

.svg-enter-active {
    opacity: 1;
    transition: all .2s ease-out;
}

.svg-enter {
    transform: translateX(-30px);
    opacity: 0;
}

.svg-leave-active {
    transition: all .2s ease-out;
}

.svg-leave-to {
    transform: translateX(-30px);
    opacity: 0;
}

.country-enter-active {
    opacity: 1;
    transition: all .2s ease-out;
}

.country-enter {
    transform: translateX(30px);
    opacity: 0;
}

.country-leave-active {
    transition: all .2s ease-out;
}

.country-leave-to {
    transform: translateX(30px);
    opacity: 0;
}

.infos {
    display: block;
    opacity: 1;
    transform: rotateX(0deg);
}

dl.infos {
    position: absolute;
    display: block;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin-top: -90%;
    margin-left: 90%;
    padding-left: 100%;
    transform-origin: 100% 100%;
    transform-style: preserve-3d;
    transform: rotateX(90deg);
}

dl.infos dt {
    position: absolute;
    left: 50px;
    margin-bottom: 26px;
    bottom: 30px;
    color: #FFF;
    font-size: 14px;
    text-shadow: 1px 1px 2px black;
}

dl.infos dd span:after {
    position: absolute;
    left: 50px;
    bottom: 14px;
    width: 300px;
    color: #FFF;
    font-size: 11px;
    text-shadow: 1px 1px 2px black;
}