@import "tailwindcss";
@plugin "@tailwindcss/typography";

button {
  cursor: pointer;
}

.prose a {
  color: theme("colors.blue.600");
  /* #2563eb */
}

.prose a:hover {
  color: theme("colors.blue.800");
  /* #1e40af */
}

.prose h1 {
  font-size: theme("fontSize.2xl");
  /* 1.5rem */
}

.prose h2 {
  font-weight: theme("fontWeight.extrabold");
  /* 800 */
  font-size: theme("fontSize.xl");
  /* 1.25rem */
  margin-top: 0;
}

.prose h3 {
  font-weight: theme("fontWeight.extrabold");
  /* 800 */
  font-size: theme("fontSize.lg");
  /* 1.125rem */
  margin-top: 0;
}

.prose hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.prose p {
  color: theme("colors.slate.800");
  /* #1e293b */
  margin-top: 0;
}

.prose img {
  margin-top: 0;
  margin-bottom: 0;
}

.prose ol,
.prose ul {
  margin-top: 0;
}

.text-fade {
  opacity: 0;
  animation: fade 0.5s ease-in forwards;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.text-fly-in {
  opacity: 0;
  transform: scale(0.1);
  animation: fly-in 1.5s ease forwards;
}

@keyframes fly-in {
  0% {
    opacity: 0;
    transform: scale(0.1), translate3d(0, 0, 0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes opening {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }

  60% {
    opacity: 1;
    transform: translateY(6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(21rem);
  }
}

@keyframes flash {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}

.earth {
  fill: #64748b;
  opacity: 0;
  transition-delay: 1.5s;
  animation: opening 4s ease forwards;
}

.back,
.front {
  fill: #64748b;
  animation: flash 1.8s ease infinite alternate;
}

.LC {
  background: #066;
  color: #fff;
}

.NE {
  background: #eee;
  color: #000;
}

.EN {
  background: #c63;
  color: #fc9;
}

.EW {
  background: #000;
  color: #fff;
}

.EX {
  background: #000;
  color: #c33;
}

.NT {
  background: #066;
  color: #9c9;
}

.VU {
  background: #c90;
  color: #ffc;
}

.DD {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.CR {
  background: #c33;
  color: #fcc;
}

.loading {
  position: absolute;
  top: 35%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translate(-50%, 0%);
  font-size: 50px;
  width: 1em;
  height: 3em;
  color: #d31145;
}

.loading .paw {
  width: 1em;
  height: 1em;
  animation: 2s pawAnimation ease-in-out infinite;
  opacity: 0;
}

.loading .paw svg {
  width: 50%;
  height: 50%;
  fill: currentColor;
}

.loading .paw:nth-child(odd) {
  transform: rotate(-10deg);
}

.loading .paw:nth-child(even) {
  transform: rotate(10deg) translate(50%, 0);
}

.loading .paw:nth-child(1) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.loading .paw:nth-child(2) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.loading .paw:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.loading .paw:nth-child(4) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
