<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue-Async-Data</title>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <style>
      
    </style>
  </head>
  <body>
  <div id="app">
      <div v-if="!isLoaded">Data is Loading</div>
      <ul v-for="specie in species" v-else>
        <li>{{specie}}</li>
      </ul>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
  <script>
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                species: []
            }
        },
        computed: {
            isLoaded:function() {
                var _this1 = this;
                if (_this1.species.length === 0) {
                    return false;
                }
                return true;
            }
        },
        created: function(){
            let _this2 = this;
            axios.get('amazing-species.json')
            .then((response)=>{
                return response.data;
            })
            .then((species)=>{
                setTimeout(()=>{ _this2.species = species}, 5000);
//                _this2.speices = species;
                console.log('数据获取正常 ' + species);
                console.log('数据赋值正常 ' + _this2.speices);
            })
            .catch((error)=>{
                console.log(error);
            });
            console.log('数据是否在Vue实例中存在' + _this2.species);
        }
    })
  </script>
  </body>
</html>
